/*font - Inter*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

.brandLogo {
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
}

/* a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
} */

.brandLogo h1 {
  font-weight: 400;
  font-size: 1.65rem;
  margin: 0rem;
  padding: 0rem;
}
