:root {
  /* light */
  --cornflowerBlue: #6495ed;
  --blueGray: #6699cc;

  --bayernBlue: #0066b2;
  --cobaltBlue: #0047ab;
  --waterBlue: #003566;
  --offWhite: #f5f3ff;
}

.navbar {
  background-color: var(--blueGray);
  /* background-image: radial-gradient(
      farthest-corner at top left,
      var(--blueGray),
      var(--offWhite)
    ); */
  color: var(--offWhite);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
