:root {
  /* light */
  --cornflowerBlue: #6495ed;
  --blueGray: #6699cc;

  --bayernBlue: #0066b2;
  --cobaltBlue: #0047ab;
  --waterBlue: #003566;

  --offWhite: #f5f3ff;
  --white: #ffffff;
  --veryLightGray: #a3a3a3;
  --mediumGray: #71717a;
  --charcoal: #171717;
  --black: #0c0a09;
}
